body{
  background-color: #282c34;
}
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  border-radius: 10rem;
  margin-top: 10px;
}

.App-header {
  font-family: "Comic Sans MS", fangsong;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #44f7ff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

